!!! X Server !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!!! XCursor
Xcursor.theme: OpenZone_White

!!! URXVT !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!! Xterm colours
URxvt*background:   black
URxvt*foreground:   grey90
URxvt*cursorColor:  grey90
URxvt*cursorColor2: black
URxvt*color0:       black
URxvt*color1:       red3
URxvt*color2:       green3
URxvt*color3:       yellow3
URxvt*color4:       blue2
URxvt*color5:       magenta3
URxvt*color6:       cyan3
URxvt*color7:       gray90
URxvt*color8:       grey50
URxvt*color9:       red
URxvt*color10:      green
URxvt*color11:      yellow
URxvt*color12:      blue
URxvt*color13:      magenta
URxvt*color14:      cyan
URxvt*color15:      white

!! Bell
URxvt*urgentonBell: true

!! Borders
URxvt*internalBorder: 2
URxvt*externalBorder: 0

!! Copy+Paste
URxvt*keysym.C-C:   perl:clipboard:copy
URxvt*keysym.C-V:   perl:clipboard:paste
URxvt*keysym.C-A-v: perl:clipboard:paste_escaped

!! Cursor
URxvt*cursorBlinks: true

!! Font
URxvt*font:      -*-gohufont-medium-*-*-*-14-*-*-*-*-*-iso10646-*
URxvt*boldFont:

!! History
URxvt*saveLines: 30000

!! Perl extensions
URxvt*perl-ext-common: default,clipboard,matcher,url-select
URxvt*url-launcher:    /usr/bin/firefox
URxvt*matcher.button:  1

!! Picture mode
URxvt*iso14755:    false
URxvt*iso14755_52: false

!! ScrollBar
URxvt*scrollBar: false

!! EOF !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
